ultralytics==8.3.170

opencv-python==4.12.0.88
numpy==2.2.6
pandas==2.3.1

easyocr==1.7.2
Pillow==11.3.0

streamlit==1.53.1
plotly==6.2.0

torch>=2.7.0
torchvision>=0.22.0

matplotlib==3.10.5

python-dotenv==1.1.1

scipy>=1.15.0
PyYAML>=6.0
requests>=2.32.0
tqdm>=4.67.0

reportlab==4.4.3